<%- include('partials/header')-%>
<h1>Home</h1>
<p> <%= body %></p>
<% for(i = 0; i<blogPosts.length; i++){ %>
    <h2> <%= blogPosts[i].title %></h2>
    <p> <%= blogPosts[i].post %> </p>
<% } %>

<%- include('partials/footer') -%>

